/* CSS Document */

body{font-family:"ו"; font-size:32px; color:#99CC00;}
p span{ font-weight:1000; text-decoration:underline;}
a{font-weight:bold; font-style:italic;}
p{text-indent:5em; line-height:1.5em;}